
video-content1 video {
    width: 600px;
    height: 600px;
 
}



header { 
    text-align: center;
     background: url("Imagenes/YHiAZa.jpg");
    background-size: cover;
    color: gray;
    
}
h1{font-size: 45px}

nav {text-align: center;

  
    
}
a{color: black;
    text-decoration: none;
}


li{
    list-style:none;
display:inline;
padding:0px 0px 0px 50px;
    
}


    
   
    
}
/***************************************
*           section                    *
***************************************/ 

article{
    max-width:500px;
    padding: 20px;
    margin:0 auto;
    text-align: justify;
}


   
    }